/* Root styles: things that should be globally available */

:root {
    /* Colors */
    --blue: rgba(86, 125, 223, .6);
    --blue-100: #7292E3;
    --blue-200: #295DE1;
}

/* Typography */
@font-face {
    font-family: gothamBlack;
    src: url(Gotham-Black.otf);
}

h1 {
    font-size: 3.5rem;
}

/* Special classes */
.page-wrapper {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

@media(max-width: 800px) {
    .page-wrapper {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.card-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    margin-bottom: 60px;
    min-height: 200px;
    place-items: center center;
    text-transform: uppercase;
    font-family: gothamBlack;
}

@media(max-width: 800px) {
    .card-row {
        grid-template-columns: 1fr
    }
}

.card-left {
    display: grid;
    min-height: 300px;
    min-width: 100%;
    place-items: center center;
    border-top-left-radius: 33px;
    border-bottom-right-radius: 33px;
    background: linear-gradient(to bottom, var(--blue), var(--blue)), url("./img/vic1.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    transition: ease-in-out .3s;
}


.card-left h1 {
    transition: ease-in-out .3s;
}

.card-left:hover {
    transform: translateY(-6px);
    background: url("./img/vic1.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.card-left:hover h1 {
    opacity: 0;
}

.card-right {
    display: grid;
    min-height: 300px;
    min-width: 100%;
    place-items: center center;
    border-top-right-radius: 33px;
    border-bottom-left-radius: 33px;
    background: linear-gradient(to bottom, var(--blue), var(--blue)), url("./img/vic2.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    transition: ease-in-out .3s;
}


.card-right h1 {
    transition: ease-in-out .3s;
}

.card-right:hover {
    transform: translateY(-6px);
    background: url("./img/vic2.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.card-right:hover h1 {
    opacity: 0;
}