/* Root styles: things that should be globally available */

:root {
  /* Colors */
  --blue: rgba(86, 125, 223, 0.6);
}

/* Typography */
@font-face {
  font-family: gothamBlack;
  src: url(Gotham-Black.otf);
}
